* {
    box-sizing: border-box;
}

@media only screen and (min-width: 500px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .projects {
        background-color: #f2f1f6;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.about-section h1 {
    font-family: 'Canela Web';
    font-weight: 200;
    font-size: 56px;
    text-align: left;
    padding-top: 10rem;
    padding-left: 5rem;
}

.about-section h3 {
    text-align: left;
    font-family: 'canada-type-gibson';
    padding-left: 5rem;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 600;
    font-size: 15px;
    color: #a48db9;
}

.about-section p {
    padding-top: 2rem;
    max-width: 90%;
    line-height: 30px;
    text-align: left;
    padding-left: 5rem;
    color: #000;
}

.project {
    background-color: #f2f1f6;
    padding: 2.5rem;
    color: #000;
}

.project h3 {
    font-family: 'Canela Web';
    padding-top: 1rem;
}

h3 a {
    color: #000;
}

.project ul {
    padding-left: 0;
}

.project li {
    font-family: 'canada-type-gibson';
    list-style-type: none;
    letter-spacing: 4px;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 22px;
    color: #a48db9;
}

img {
    height: 150px;
    width: 225px;
}

.large-image {
    width: 100%;
    height: 400px;
    background-color: #a48db9;
}

.large-image p {
    color: #fff;
    text-align: center;
    font-size: 34px;
    margin: 0 auto;
    margin-top: 10rem;
    width: 80%;
    font-family: 'canela web'
}

footer {
    width: 100%;
    height: auto;
    background-color: #000;
    color: #fff;
}

footer p {
    font-family: 'Canela Web';
    font-size: 20px;
}

.footer-social {
    padding: 5rem;
}

.footer-social p {
    padding-left: 2.8rem;
    color: #fff;
}

.social-icon {
    list-style-type: none;
    display: inline-flex;
    color: #fff;
}

.social-icon li {
    padding: 0 5px;
    color: #fff;
}

li>a {
    text-decoration: none;
}

.work {
    padding: 5rem;
}